<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccbp.core.bus.mapper.BatchUpFileMapper">
   <resultMap id="BaseResultMap" type="com.ccbp.core.bus.model.BatchFileds">
     <id column="SYS_DT" property="sysDt" jdbcType="VARCHAR" />
    <id column="SYS_SEQ" property="sysSeq" jdbcType="VARCHAR" />
    <result column="TXN_CD" property="txnCd" jdbcType="VARCHAR" />
    <result column="TXN_DESC" property="txnDesc" jdbcType="VARCHAR" />
    <result column="TXN_TP" property="txnTp" jdbcType="VARCHAR" />
    <result column="TXN_ST" property="txnSt" jdbcType="VARCHAR" />
    <result column="ERR_CD" property="errCd" jdbcType="VARCHAR" />
    <result column="ERR_MSG" property="errMsg" jdbcType="VARCHAR" />
    <result column="REV_FLG" property="revFlg" jdbcType="VARCHAR" />
    <result column="REV_SEQ" property="revSeq" jdbcType="VARCHAR" />
    <result column="CAN_FLG" property="canFlg" jdbcType="VARCHAR" />
    <result column="CAN_SEQ" property="canSeq" jdbcType="VARCHAR" />
    <result column="RFD_FLG" property="rfdFlg" jdbcType="VARCHAR" />
    <result column="CUPS_STLM_DT" property="cupsStlmDt" jdbcType="VARCHAR" />
    <result column="HD_BUF" property="hdBuf" jdbcType="VARCHAR" />
    <result column="MSG_TP" property="msgTp" jdbcType="VARCHAR" />
    <result column="PAN" property="pan" jdbcType="VARCHAR" />
    <result column="CD_SEQ_NO" property="cdSeqNo" jdbcType="VARCHAR" />
    <result column="PRC_CD" property="prcCd" jdbcType="VARCHAR" />
    <result column="AMT_TXN" property="amtTxn" jdbcType="VARCHAR" />
    <result column="AMT_STLM" property="amtStlm" jdbcType="VARCHAR" />
    <result column="AMT_CDHLD" property="amtCdhld" jdbcType="VARCHAR" />
    <result column="TXN_DT_TM" property="txnDtTm" jdbcType="VARCHAR" />
    <result column="RAT_STLM" property="ratStlm" jdbcType="VARCHAR" />
    <result column="RAT_CDHLD" property="ratCdhld" jdbcType="VARCHAR" />
    <result column="CUP_SSN" property="cupSsn" jdbcType="VARCHAR" />
    <result column="LCL_TM" property="lclTm" jdbcType="VARCHAR" />
    <result column="LCL_DT" property="lclDt" jdbcType="VARCHAR" />
    <result column="EXPR_DT" property="exprDt" jdbcType="VARCHAR" />
    <result column="CONV_DT" property="convDt" jdbcType="VARCHAR" />
    <result column="STLM_DT" property="stlmDt" jdbcType="VARCHAR" />
    <result column="MCHT_TP" property="mchtTp" jdbcType="VARCHAR" />
    <result column="ACQ_INS_CD" property="acqInsCd" jdbcType="VARCHAR" />
    <result column="FWD_INS_CD" property="fwdInsCd" jdbcType="VARCHAR" />
    <result column="RETL_REF" property="retlRef" jdbcType="VARCHAR" />
    <result column="AUTH_RSP_CD" property="authRspCd" jdbcType="VARCHAR" />
    <result column="CUPS_RSP_CD" property="cupsRspCd" jdbcType="VARCHAR" />
    <result column="ACQ_TERM_ID" property="acqTermId" jdbcType="VARCHAR" />
    <result column="ACQ_ID" property="acqId" jdbcType="VARCHAR" />
    <result column="ACQ_NM" property="acqNm" jdbcType="VARCHAR" />
    <result column="ADD_DATA" property="addData" jdbcType="VARCHAR" />
    <result column="CUR_TXN" property="curTxn" jdbcType="VARCHAR" />
    <result column="CUR_STLM" property="curStlm" jdbcType="VARCHAR" />
    <result column="CUR_CDHLD" property="curCdhld" jdbcType="VARCHAR" />
    <result column="ADD_AMT" property="addAmt" jdbcType="VARCHAR" />
    <result column="FLD_RCS" property="fldRcs" jdbcType="VARCHAR" />
    <result column="CDHLD_INF" property="cdhldInf" jdbcType="VARCHAR" />
    <result column="ORG_SYS_DT" property="orgSysDt" jdbcType="VARCHAR" />
    <result column="ORG_SYS_SEQ" property="orgSysSeq" jdbcType="VARCHAR" />
    <result column="ORG_DATA_ELE" property="orgDataEle" jdbcType="VARCHAR" />
    <result column="RCV_INS_CD" property="rcvInsCd" jdbcType="VARCHAR" />
    <result column="ACCT_ID1" property="acctId1" jdbcType="VARCHAR" />
    <result column="ACCT_ID2" property="acctId2" jdbcType="VARCHAR" />
    <result column="IC_DATA" property="icData" jdbcType="VARCHAR" />
    <result column="HOST_SSN" property="hostSsn" jdbcType="VARCHAR" />
    <result column="HOST_DT" property="hostDt" jdbcType="VARCHAR" />
    <result column="HOST_TP" property="hostTp" jdbcType="VARCHAR" />
    <result column="HOST_ERR_CD" property="hostErrCd" jdbcType="VARCHAR" />
    <result column="HOST_ERR_MSSG" property="hostErrMssg" jdbcType="VARCHAR" />
    <result column="CRT_OPR" property="crtOpr" jdbcType="VARCHAR" />
    <result column="CRT_DT" property="crtDt" jdbcType="VARCHAR" />
    <result column="UPD_OPR" property="updOpr" jdbcType="VARCHAR" />
    <result column="UPD_DT" property="updDt" jdbcType="VARCHAR" />
    <result column="MISC" property="misc" jdbcType="VARCHAR" />
    <result column="CARD_TP" property="cardTp" jdbcType="VARCHAR" />
    <result column="COND_CD" property="condCd" jdbcType="VARCHAR" />
    <result column="TRANS_DIRECTION" property="transDirection" jdbcType="CHAR" />
    <result column="HOST_FEE" property="hostFee" jdbcType="VARCHAR" />
    <result column="REAL_FLG" property="realFlg" jdbcType="CHAR" />
    <result column="SYSTEM_FLG" property="systemFlg" jdbcType="VARCHAR" />
    <result column="CHANNEL_SEQ" property="channelSeq" jdbcType="VARCHAR" />
    <result column="CHILD_TXN_CD" property="childTxnCd" jdbcType="VARCHAR" />
    <result column="FRZ_NO" property="frzNo" jdbcType="VARCHAR" />
    <result column="DELAY_ST" property="delaySt" jdbcType="VARCHAR" />
    <result column="CHARGE_INFO" property="chargeInfo" jdbcType="VARCHAR" />
    <result column="TRANS_ACC" property="transAcc" jdbcType="VARCHAR" />
    <result column="SAME_FLG" property="sameFlg" jdbcType="VARCHAR" />
    <result column="TXN_TLT_ID" property="txnTltId" jdbcType="VARCHAR" />
    <result column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
    <result column="TXN_CHNL_TP" property="txnChnlTp" jdbcType="VARCHAR" />
    <result column="DROPD_LVI_CARD_FLG" property="dropdLviCardFlg" jdbcType="VARCHAR" />
    <result column="ADDS_PRIV_DATA" property="addsPrivData" jdbcType="VARCHAR" />
    <result column="ADD_DATA2" property="addData2" jdbcType="VARCHAR" />
    <result column="SMY_CD" property="smyCd" jdbcType="VARCHAR" />
    <result column="SMY_DSC" property="smyDsc" jdbcType="VARCHAR" />
    <result column="EXECUTE_FLG" property="executeFlg" jdbcType="VARCHAR" />
    <result column="OPEN_INST" property="openInst" jdbcType="VARCHAR" />
    <result column="CHARGE_CD" property="chargeCd" jdbcType="VARCHAR" />
    <result column="MCHT_CD" property="mchtCd" jdbcType="VARCHAR" />
    <result column="ENTRY_CD" property="entryCd" jdbcType="VARCHAR" />
    <result column="PIN_CAP_CD" property="pinCapCd" jdbcType="VARCHAR" />
    <result column="AMT_FEE" property="amtFee" jdbcType="VARCHAR" />
    <result column="TRACK2_DATA" property="track2Data" jdbcType="VARCHAR" />
    <result column="TRACK3_DATA" property="track3Data" jdbcType="VARCHAR" />
    <result column="ADD_RES_DATA" property="addResData" jdbcType="VARCHAR" />
    <result column="TRACK1_DATA" property="track1Data" jdbcType="VARCHAR" />
    <result column="PIN_DATA" property="pinData" jdbcType="VARCHAR" />
    <result column="SECURIT_INFO" property="securitInfo" jdbcType="VARCHAR" />
    <result column="ADD_DATA1" property="addData1" jdbcType="VARCHAR" />
    <result column="INQU_DETA" property="inquDeta" jdbcType="VARCHAR" />
    <result column="SWITCHING_DATA" property="switchingData" jdbcType="VARCHAR" />
    <result column="FINA_NET_DATA" property="finaNetData" jdbcType="VARCHAR" />
    <result column="NET_MNG_CCD" property="netMngCcd" jdbcType="VARCHAR" />
    <result column="MSG_SECUR_CODE" property="msgSecurCode" jdbcType="VARCHAR" />
    <result column="ADD_DATA3" property="addData3" jdbcType="VARCHAR" />
    <result column="ADD_DATA4" property="addData4" jdbcType="VARCHAR" />
    <result column="ADD_DATA5" property="addData5" jdbcType="VARCHAR" />
    <result column="CUPS_RESERVED" property="cupsReserved" jdbcType="VARCHAR" />
    <result column="ACQ_INST_RESERVED" property="acqInstReserved" jdbcType="VARCHAR" />
    <result column="ISS_INST_RESERVED" property="issInstReserved" jdbcType="VARCHAR" />
    <result column="ADD_DATA6" property="addData6" jdbcType="VARCHAR" />
    <result column="ADD_DATA7" property="addData7" jdbcType="VARCHAR" />
    <result column="MAG_AUTH_CD" property="magAuthCd" jdbcType="VARCHAR" />
    <result column="HOST_TXN_CD" property="hostTxnCd" jdbcType="VARCHAR" />
    <result column="REQ_SEQ" property="reqSeq" jdbcType="VARCHAR" />
    <result column="M_IP" property="mIp" jdbcType="VARCHAR" />
    <result column="TR_OUT_ACC_NM" property="trOutAccNm" jdbcType="VARCHAR" />
    <result column="TR_IN_ACC_NM" property="trInAccNm" jdbcType="VARCHAR" />
    
     
    <result column="FRZ_NO" jdbcType="VARCHAR" property="frzNo" />
    <result column="CNTRL_AMT" jdbcType="VARCHAR" property="cntrlAmt" />
    <result column="CNTRLR_END_DT" jdbcType="VARCHAR" property="cntrlrEndDt" />
    
    
    <result column="TRAN_DT" jdbcType="VARCHAR" property="tranDt" />
    <result column="KEY_CUP" jdbcType="VARCHAR" property="keyCup" />
    <result column="UUID" jdbcType="VARCHAR" property="uuid" />
    <result column="SEQ_NB" jdbcType="VARCHAR" property="seqNb" />
    <result column="LOC_DT" jdbcType="VARCHAR" property="locDt" />
    <result column="LOC_TM" jdbcType="VARCHAR" property="locTm" />
    <result column="TRANS_TYPE" jdbcType="VARCHAR" property="transType" />
    <result column="MER_BNK_CD" jdbcType="VARCHAR" property="merBnkCd" />
    <result column="MER_BNK_NB" jdbcType="VARCHAR" property="merBnkNb" />
    <result column="MER_ID" jdbcType="VARCHAR" property="merId" />
    <result column="MER_NM" jdbcType="VARCHAR" property="merNm" />
    <result column="TERMNL_TYPE" jdbcType="VARCHAR" property="termnlType" />
    <result column="TERM_SSN" jdbcType="VARCHAR" property="termSsn" />
    <result column="BATCH_NB" jdbcType="VARCHAR" property="batchNb" />
    
    <result column="TRAN_AMT" jdbcType="VARCHAR" property="tranAmt" />
    <result column="ACT_FEE" jdbcType="VARCHAR" property="actFee" />
    
    <result column="PYR_ACCT_NB" jdbcType="VARCHAR" property="pyrAcctNb" />
    <result column="PYR_ACCT_SVCR" jdbcType="VARCHAR" property="pyrAcctSvcr" />
    <result column="PYE_ACCT_NB" jdbcType="VARCHAR" property="pyeAcctNb" />
    <result column="PYE_ACCT_SVCR" jdbcType="VARCHAR" property="pyeAcctSvcr" />
    
    <result column="AMT_RETURN" jdbcType="VARCHAR" property="amtReturn" />
    <result column="IS_MUTI_SYS" jdbcType="VARCHAR" property="isMutiSys" />
    <result column="IS_CLEAN" jdbcType="VARCHAR" property="isClean" />
    <result column="HOST_TM" jdbcType="VARCHAR" property="hostTm" />
    <result column="TFL_FLAG" jdbcType="VARCHAR" property="tflFlag" />
    
   
  </resultMap>
  
  
  <sql id="Ftxn_Column_List" >
    SYS_DT, SYS_SEQ, TXN_CD, TXN_DESC, TXN_TP, TXN_ST, ERR_CD, ERR_MSG, REV_FLG, REV_SEQ, 
    CAN_FLG, CAN_SEQ, RFD_FLG, CUPS_STLM_DT, HD_BUF, MSG_TP, PAN, CD_SEQ_NO, PRC_CD, 
    AMT_TXN, AMT_STLM, AMT_CDHLD, TXN_DT_TM, RAT_STLM, RAT_CDHLD, CUP_SSN, LCL_TM, LCL_DT, 
    EXPR_DT, CONV_DT, STLM_DT, MCHT_TP, ACQ_INS_CD, FWD_INS_CD, RETL_REF, AUTH_RSP_CD, 
    CUPS_RSP_CD, ACQ_TERM_ID, ACQ_ID, ACQ_NM, ADD_DATA, CUR_TXN, CUR_STLM, CUR_CDHLD, 
    ADD_AMT, FLD_RCS, CDHLD_INF, ORG_SYS_DT, ORG_SYS_SEQ, ORG_DATA_ELE, RCV_INS_CD, ACCT_ID1, 
    ACCT_ID2, IC_DATA, HOST_SSN, HOST_DT, HOST_TP, HOST_ERR_CD, HOST_ERR_MSSG, CRT_OPR, 
    CRT_DT, UPD_OPR, UPD_DT, MISC, CARD_TP, COND_CD, TRANS_DIRECTION, HOST_FEE, REAL_FLG, 
    SYSTEM_FLG, CHANNEL_SEQ, CHILD_TXN_CD, FRZ_NO, DELAY_ST, CHARGE_INFO, TRANS_ACC, 
    SAME_FLG, TXN_TLT_ID, ORG_ID, TXN_CHNL_TP, DROPD_LVI_CARD_FLG, ADDS_PRIV_DATA, ADD_DATA2, 
    SMY_CD, SMY_DSC, EXECUTE_FLG, OPEN_INST, CHARGE_CD, MCHT_CD, ENTRY_CD, PIN_CAP_CD, 
    AMT_FEE, TRACK2_DATA, TRACK3_DATA, ADD_RES_DATA, TRACK1_DATA, PIN_DATA, SECURIT_INFO, 
    ADD_DATA1, INQU_DETA, SWITCHING_DATA, FINA_NET_DATA, NET_MNG_CCD, MSG_SECUR_CODE, 
    ADD_DATA3, ADD_DATA4, ADD_DATA5, CUPS_RESERVED, ACQ_INST_RESERVED, ISS_INST_RESERVED, 
    ADD_DATA6, ADD_DATA7, MAG_AUTH_CD, HOST_TXN_CD, REQ_SEQ, M_IP, TR_OUT_ACC_NM, TR_IN_ACC_NM
  </sql>
  
   <sql id="Auth_Column_List" >
     SYS_DT, SYS_SEQ, TXN_CD, TXN_DESC, TXN_TP, TXN_ST, ERR_CD, ERR_MSG, REV_FLG, REV_SEQ, 
    CAN_FLG, CAN_SEQ, RFD_FLG, CUPS_STLM_DT, HD_BUF, MSG_TP, PAN, CD_SEQ_NO, PRC_CD, 
    AMT_TXN, AMT_STLM, AMT_CDHLD, TXN_DT_TM, RAT_STLM, RAT_CDHLD, CUP_SSN, LCL_TM, LCL_DT, 
    EXPR_DT, CONV_DT, STLM_DT, MCHT_TP, ACQ_INS_CD, FWD_INS_CD, RETL_REF, AUTH_RSP_CD, 
    CUPS_RSP_CD, ACQ_TERM_ID, ACQ_ID, ACQ_NM, ADD_DATA, CUR_TXN, CUR_STLM, CUR_CDHLD, 
    ADD_AMT, FLD_RCS, CDHLD_INF, ORG_SYS_DT, ORG_SYS_SEQ, ORG_DATA_ELE, RCV_INS_CD, ACCT_ID1, 
    ACCT_ID2, IC_DATA, HOST_SSN, HOST_DT, HOST_TP, HOST_ERR_CD, HOST_ERR_MSSG, CRT_OPR, 
    CRT_DT, UPD_OPR, UPD_DT, MISC, EFT_DT, FNS_FLG, FNS_SEQ, CARD_TP, COND_CD, TRANS_DIRECTION, 
    HOST_FEE, TXN_TLT_ID, ORG_ID, TXN_CHNL_TP, FRZ_NO, CNTRL_AMT, CNTRLR_END_DT, SUB_ACCT_SEQ_NO, 
    SMY_CD, SMY_DSC, OPEN_INST, RCNCL_FLG, MCHT_CD, ENTRY_CD, PIN_CAP_CD, TRACK2_DATA, 
    TRACK3_DATA, TRACK1_DATA, ADD_RES_DATA, PIN_DATA, SECURIT_INFO, ADDS_PRIV_DATA, FINA_NET_DATA, 
    ADD_DATA2, ADD_DATA3, ADD_DATA4, ADD_DATA5, ADD_DATA6, ADD_DATA7, CUPS_RESERVED, 
    ACQ_INST_RESERVED, ISS_INST_RESERVED, MAG_AUTH_CD, STEP_INTO_CD, STEP_INTO_DESC, 
    HOST_TXN_CD, REQ_SEQ, M_IP
  </sql>
  
  <sql id="Dep_Column_List" >
     CUPS_CD, TXN_CD, TXN_DESC, TXN_TP, TXN_ST, ERR_CD, ERR_MSG, REV_FLG, REV_SEQ, CAN_FLG, 
    CAN_SEQ, RFD_FLG, CUPS_STLM_DT, HD_BUF, MSG_TP, PAN, CD_SEQ_NO, PRC_CD, AMT_TXN, 
    AMT_STLM, AMT_CDHLD, TXN_DT_TM, RAT_STLM, RAT_CDHLD, CUP_SSN, LCL_TM, LCL_DT, EXPR_DT, 
    CONV_DT, STLM_DT, MCHT_TP, ACQ_INS_CD, FWD_INS_CD, RETL_REF, AUTH_RSP_CD, CUPS_RSP_CD, 
    ACQ_TERM_ID, ACQ_ID, ACQ_NM, ADD_DATA, CUR_TXN, CUR_STLM, CUR_CDHLD, ADD_AMT, FLD_RCS, 
    CDHLD_INF, ORG_SYS_DT, ORG_SYS_SEQ, ORG_DATA_ELE, RCV_INS_CD, ACCT_ID1, ACCT_ID2, 
    IC_DATA, HOST_SSN, HOST_DT, HOST_TP, HOST_ERR_CD, HOST_ERR_MSSG, CRT_OPR, CRT_DT, 
    UPD_OPR, UPD_DT, MISC, COND_CD, TRANS_DIRECTION, HOST_FEE, CHANNEL_SEQ, CARD_TP, 
    TXN_TLT_ID, ORG_ID, TXN_CHNL_TP, OPEN_INST, ENTRY_CD, AMT_FEE, ADD_DATA2, ADD_DATA5, 
    CUPS_RESERVED, ACQ_INST_RESERVED, ISS_INST_RESERVED, MAG_AUTH_CD, SMY_CD, SMY_DSC, 
    M_IP
  </sql>
   
   
   <sql id="Tfr_Column_List" >
    CUPS_CD, TXN_CD, TXN_DESC, TXN_TP, TXN_ST, ERR_CD, ERR_MSG, REV_FLG, REV_SEQ, CAN_FLG, 
    CAN_SEQ, RFD_FLG, CUPS_STLM_DT, HD_BUF, MSG_TP, PAN, CD_SEQ_NO, PRC_CD, AMT_TXN, 
    AMT_STLM, AMT_CDHLD, TXN_DT_TM, RAT_STLM, RAT_CDHLD, CUP_SSN, LCL_TM, LCL_DT, EXPR_DT, 
    CONV_DT, STLM_DT, MCHT_TP, ACQ_INS_CD, FWD_INS_CD, RETL_REF, AUTH_RSP_CD, CUPS_RSP_CD, 
    ACQ_TERM_ID, ACQ_ID, ACQ_NM, ADD_DATA, CUR_TXN, CUR_STLM, CUR_CDHLD, ADD_AMT, FLD_RCS, 
    CDHLD_INF, ORG_SYS_DT, ORG_SYS_SEQ, ORG_DATA_ELE, RCV_INS_CD, ACCT_ID1, ACCT_ID2, 
    IC_DATA, HOST_SSN, HOST_DT, HOST_TP, HOST_ERR_CD, HOST_ERR_MSSG, CRT_OPR, CRT_DT, 
    UPD_OPR, UPD_DT, MISC, COND_CD, OPEN_INST, TRANS_DIRECTION, HOST_FEE, SYSTEM_FLG, 
    CHANNEL_SEQ, CHILD_TXN_CD, FRZ_NO, DELAY_ST, CHARGE_INFO, TRANS_ACC, SAME_FLG, TXN_TLT_ID, 
    ORG_ID, TXN_CHNL_TP, DROPD_LVI_CARD_FLG, ADDS_PRIV_DATA, ADD_DATA2, SMY_CD, SMY_DSC, 
    EXECUTE_FLG, CHARGE_CD, MCHT_CD, ENTRY_CD, PIN_CAP_CD, AMT_FEE, TRACK2_DATA, TRACK3_DATA, 
    ADD_RES_DATA, TRACK1_DATA, PIN_DATA, SECURIT_INFO, ADD_DATA1, INQU_DETA, SWITCHING_DATA, 
    FINA_NET_DATA, NET_MNG_CCD, MSG_SECUR_CODE, ADD_DATA3, ADD_DATA4, ADD_DATA5, CUPS_RESERVED, 
    ACQ_INST_RESERVED, ISS_INST_RESERVED, ADD_DATA6, ADD_DATA7, MAG_AUTH_CD, M_IP, TR_OUT_ACC_NM, 
    TR_IN_ACC_NM
  </sql>
   
   <!-- 通用 -->
   <select id="selectComm" parameterType="java.lang.String" resultMap="BaseResultMap">
    	SELECT 
	       ACQ_INS_CD || FWD_INS_CD || CUP_SSN || TXN_DT_TM || PRC_CD AS UUID,
		       SYS_SEQ AS KEY_CUP,
		       SUBSTR(TXN_DT_TM, 0, 4) as TRAN_DT,
		       SYS_SEQ as SEQ_NB,
		       TXN_CD,
		       TXN_ST,
		       SYS_DT as LOC_DT,
		       SUBSTR(TXN_DT_TM, 5, 6) as LOC_TM,
		       TXN_TP as TRANS_TYPE,
		       CARD_TP,
		       '' AS MER_BNK_CD,
		       '' AS MER_BNK_NB,
		       ACQ_ID as MER_ID,
		       ACQ_NM as MER_NM,
		       CUP_SSN,
		       TXN_DT_TM,
		       ACQ_INS_CD,
		       FWD_INS_CD,
		       '' AS TERMNL_TYPE,
		       ACQ_TERM_ID,
		       '' as TERM_SSN,
		       '' as BATCH_NB,
		       PAN,
		       NVL(AMT_STLM, AMT_TXN) AS TRAN_AMT,
		       '' AS ACT_FEE,
		       NVL(CUR_STLM, CUR_TXN) as CUR,
		       ACCT_ID1 AS PYR_ACCT_NB,
		       '' as PYR_ACCT_SVCR,
		       ACCT_ID2 as PYE_ACCT_NB,
		       '' PYE_ACCT_SVCR,
		       AUTH_RSP_CD,
		       RETL_REF,
		       '' AS AMT_RETURN,
		       '' AS IS_MUTI_SYS,
		       '0' AS IS_CLEAN,
		       HOST_DT,
		       ' ' AS HOST_TM,
		       HOST_SSN,
		       HOST_ERR_CD,
		       ORG_SYS_DT,
		       ORG_SYS_SEQ,
		       CUPS_RSP_CD,
		       '' AS TFL_FLAG,
		       TRANS_DIRECTION,
		       TXN_CHNL_TP,
		       CHANNEL_SEQ,
		       SMY_CD,
		       OPEN_INST,
		       REV_FLG,
		       REV_SEQ,
		       CAN_FLG,
		       CAN_SEQ,
		       RFD_FLG,
		       REAL_FLG,
		       TRANS_ACC,
		       DELAY_ST,
		       ORG_DATA_ELE,
		       '' AS FRZ_NO,
		       '' AS CNTRL_AMT,
		       '' AS CNTRLR_END_DT
    	FROM
    		TBL_F_TXN
    	WHERE
    		STLM_DT = #{stlmDt,jdbcType=VARCHAR}
	   AND 
	   		TXN_CD in (
						'300006','300007','300008','300020','300027','300034',
						'300044','300046','300048','300049','300050','300053','300058',
						'300059','300036','300011','300038','300011','300055',
						'400043','400006',
						'400002','400007','400011','400020','400026','400034',
						'400035','400036','400038','400040','400041','400046','400047',
						'400052','500001','500002','500003','500004','500005','500006',
						'500007','500008'
						
	                  )
	          ORDER BY SYS_DT,SYS_SEQ DESC
  </select>
  	
  
  <!-- 预授权-->
   <select id="selectAuth" parameterType="java.lang.String" resultMap="BaseResultMap">
    	SELECT 
	       ACQ_INS_CD || FWD_INS_CD || CUP_SSN || TXN_DT_TM || PRC_CD AS UUID,
              SYS_SEQ AS KEY_CUP,
              SUBSTR(TXN_DT_TM, 0, 4) as TRAN_DT,
              SYS_SEQ as SEQ_NB,
              TXN_CD,
              TXN_ST,
              SYS_DT as LOC_DT,
              SUBSTR(TXN_DT_TM, 5, 6) as LOC_TM,
              TXN_TP as TRANS_TYPE,
              CARD_TP,
              '' AS MER_BNK_CD,
              '' AS MER_BNK_NB,
              ACQ_ID as MER_ID,
              ACQ_NM as MER_NM,
              CUP_SSN,
              TXN_DT_TM,
              ACQ_INS_CD,
              FWD_INS_CD,
              '' AS TERMNL_TYPE,
              ACQ_TERM_ID,
              '' as TERM_SSN,
              '' as BATCH_NB,
              PAN,
              NVL(AMT_STLM, AMT_TXN) AS TRAN_AMT,
              '' AS ACT_FEE,
              NVL(CUR_STLM, CUR_TXN) as CUR,
              '' AS PYR_ACCT_NB,
              '' as PYR_ACCT_SVCR,
              '' as PYE_ACCT_NB,
              '' PYE_ACCT_SVCR,
              AUTH_RSP_CD,
              RETL_REF,
              '' AS AMT_RETURN,
              '' AS IS_MUTI_SYS,
              '0' AS IS_CLEAN,
              HOST_DT,
              ' ' AS HOST_TM,
              HOST_SSN,
              HOST_ERR_CD,
              ORG_SYS_DT,
              ORG_SYS_SEQ,
              CUPS_RSP_CD,
              '' AS TFL_FLAG,
              TRANS_DIRECTION,
              TXN_CHNL_TP,
              '' AS CHANNEL_SEQ,
              SMY_CD,
              OPEN_INST,
              REV_FLG,
              REV_SEQ,
              CAN_FLG,
              CAN_SEQ,
              RFD_FLG,
              '' AS REAL_FLG,
              '' AS TRANS_ACC,
              '' AS DELAY_ST,
              ORG_DATA_ELE,
              FRZ_NO,
              CNTRL_AMT,
              CNTRLR_END_DT
    	FROM
    		TBL_AUTH
    	WHERE
    		STLM_DT = #{stlmDt,jdbcType=VARCHAR}
	   AND 
	   		TXN_CD in (
						'300004','300005','300040'
	                  )
	          ORDER BY SYS_DT,SYS_SEQ DESC
  </select>
  
  <!--  贷记及贷记确认-->
   <select id="selectDj" parameterType="java.lang.String" resultMap="BaseResultMap">
    	SELECT 
	       ACQ_INS_CD || FWD_INS_CD || CUP_SSN || TXN_DT_TM || PRC_CD AS UUID,
		       SYS_SEQ AS KEY_CUP,
		       SUBSTR(TXN_DT_TM, 0, 4) as TRAN_DT,
		       SYS_SEQ as SEQ_NB,
		       TXN_CD,
		       TXN_ST,
		       SYS_DT as LOC_DT,
		       SUBSTR(TXN_DT_TM, 5, 6) as LOC_TM,
		       TXN_TP as TRANS_TYPE,
		       CARD_TP,
		       '' AS MER_BNK_CD,
		       '' AS MER_BNK_NB,
		       ACQ_ID as MER_ID,
		       ACQ_NM as MER_NM,
		       CUP_SSN,
		       TXN_DT_TM,
		       ACQ_INS_CD,
		       FWD_INS_CD,
		       '' AS TERMNL_TYPE,
		       ACQ_TERM_ID,
		       '' as TERM_SSN,
		       '' as BATCH_NB,
		       PAN,
		       NVL(AMT_STLM, AMT_TXN) AS TRAN_AMT,
		       '' AS ACT_FEE,
		       NVL(CUR_STLM, CUR_TXN) as CUR,
		       ACCT_ID1 AS PYR_ACCT_NB,
		       '' as PYR_ACCT_SVCR,
		       ACCT_ID2 as PYE_ACCT_NB,
		       '' PYE_ACCT_SVCR,
		       AUTH_RSP_CD,
		       RETL_REF,
		       '' AS AMT_RETURN,
		       '' AS IS_MUTI_SYS,
		       '0' AS IS_CLEAN,
		       HOST_DT,
		       ' ' AS HOST_TM,
		       HOST_SSN,
		       HOST_ERR_CD,
		       ORG_SYS_DT,
		       ORG_SYS_SEQ,
		       CUPS_RSP_CD,
		       '' AS TFL_FLAG,
		       TRANS_DIRECTION,
		       TXN_CHNL_TP,
		       CHANNEL_SEQ,
		       SMY_CD,
		       OPEN_INST,
		       REV_FLG,
		       REV_SEQ,
		       CAN_FLG,
		       CAN_SEQ,
		       RFD_FLG,
		       REAL_FLG,
		       TRANS_ACC,
		       DELAY_ST,
		       ORG_DATA_ELE,
		       '' AS FRZ_NO,
		       '' AS CNTRL_AMT,
		       '' AS CNTRLR_END_DT
    	FROM
    		TBL_F_TXN
    	WHERE
    		STLM_DT = #{stlmDt,jdbcType=VARCHAR}
    	AND
    		TXN_CD  ='300041'
	   AND 
	   	 MSG_TP ||  CUP_SSN  || TXN_DT_TM ||ACQ_INS_CD || FWD_INS_CD NOT IN    (SELECT ORG_DATA_ELE FROM   TBL_F_TXN  WHERE TXN_CD  ='300042'  AND STLM_DT = #{stlmDt,jdbcType=VARCHAR})
	  UNION 	
	   	
	  SELECT 
	       ACQ_INS_CD || FWD_INS_CD || CUP_SSN || TXN_DT_TM || PRC_CD AS UUID,
		       SYS_SEQ AS KEY_CUP,
		       SUBSTR(TXN_DT_TM, 0, 4) as TRAN_DT,
		       SYS_SEQ as SEQ_NB,
		       TXN_CD,
		       TXN_ST,
		       SYS_DT as LOC_DT,
		       SUBSTR(TXN_DT_TM, 5, 6) as LOC_TM,
		       TXN_TP as TRANS_TYPE,
		       CARD_TP,
		       '' AS MER_BNK_CD,
		       '' AS MER_BNK_NB,
		       ACQ_ID as MER_ID,
		       ACQ_NM as MER_NM,
		       CUP_SSN,
		       TXN_DT_TM,
		       ACQ_INS_CD,
		       FWD_INS_CD,
		       '' AS TERMNL_TYPE,
		       ACQ_TERM_ID,
		       '' as TERM_SSN,
		       '' as BATCH_NB,
		       PAN,
		       NVL(AMT_STLM, AMT_TXN) AS TRAN_AMT,
		       '' AS ACT_FEE,
		       NVL(CUR_STLM, CUR_TXN) as CUR,
		       ACCT_ID1 AS PYR_ACCT_NB,
		       '' as PYR_ACCT_SVCR,
		       ACCT_ID2 as PYE_ACCT_NB,
		       '' PYE_ACCT_SVCR,
		       AUTH_RSP_CD,
		       RETL_REF,
		       '' AS AMT_RETURN,
		       '' AS IS_MUTI_SYS,
		       '0' AS IS_CLEAN,
		       HOST_DT,
		       ' ' AS HOST_TM,
		       HOST_SSN,
		       HOST_ERR_CD,
		       ORG_SYS_DT,
		       ORG_SYS_SEQ,
		       CUPS_RSP_CD,
		       '' AS TFL_FLAG,
		       TRANS_DIRECTION,
		       TXN_CHNL_TP,
		       CHANNEL_SEQ,
		       SMY_CD,
		       OPEN_INST,
		       REV_FLG,
		       REV_SEQ,
		       CAN_FLG,
		       CAN_SEQ,
		       RFD_FLG,
		       REAL_FLG,
		       TRANS_ACC,
		       DELAY_ST,
		       ORG_DATA_ELE,
		       '' AS FRZ_NO,
		       '' AS CNTRL_AMT,
		       '' AS CNTRLR_END_DT
    	FROM
    		TBL_F_TXN
    	WHERE
    		STLM_DT = #{stlmDt,jdbcType=VARCHAR}
    	AND
    		TXN_CD  ='300042'	
    	ORDER BY KEY_CUP DESC
	   		
  </select>
  
  
   <!-- 存款及存款确认-->
   <select id="selectDeposit" parameterType="java.lang.String" resultMap="BaseResultMap">
    	SELECT ACQ_INS_CD || FWD_INS_CD || CUP_SSN || TXN_DT_TM || PRC_CD AS UUID,
		       SYS_SEQ AS KEY_CUP,
		       SUBSTR(TXN_DT_TM, 0, 4) as TRAN_DT,
		       SYS_SEQ as SEQ_NB,
		       TXN_CD,
		       TXN_ST,
		       SYS_DT as LOC_DT,
		       SUBSTR(TXN_DT_TM, 5, 6) as LOC_TM,
		       TXN_TP as TRANS_TYPE,
		       CARD_TP,
		       '' AS MER_BNK_CD,
		       '' AS MER_BNK_NB,
		       ACQ_ID as MER_ID,
		       ACQ_NM as MER_NM,
		       CUP_SSN,
		       TXN_DT_TM,
		       ACQ_INS_CD,
		       FWD_INS_CD,
		       '' AS TERMNL_TYPE,
		       ACQ_TERM_ID,
		       '' as TERM_SSN,
		       '' as BATCH_NB,
		       PAN,
		       NVL(AMT_STLM, AMT_TXN) AS TRAN_AMT,
		       '' AS ACT_FEE,
		       NVL(CUR_STLM, CUR_TXN) as CUR,
		       ACCT_ID1 AS PYR_ACCT_NB,
		       '' as PYR_ACCT_SVCR,
		       ACCT_ID2 as PYE_ACCT_NB,
		       '' PYE_ACCT_SVCR,
		       AUTH_RSP_CD,
		       RETL_REF,
		       '' AS AMT_RETURN,
		       '' AS IS_MUTI_SYS,
		       '0' AS IS_CLEAN,
		       HOST_DT,
		       ' ' AS HOST_TM,
		       HOST_SSN,
		       HOST_ERR_CD,
		       ORG_SYS_DT,
		       ORG_SYS_SEQ,
		       CUPS_RSP_CD,
		       '' AS TFL_FLAG,
		       TRANS_DIRECTION,
		       TXN_CHNL_TP,
		       CHANNEL_SEQ,
		       SMY_CD,
		       OPEN_INST,
		       REV_FLG,
		       REV_SEQ,
		       CAN_FLG,
		       CAN_SEQ,
		       RFD_FLG,
		       REAL_FLG,
		       TRANS_ACC,
		       DELAY_ST,
		       ORG_DATA_ELE,
		       '' AS FRZ_NO,
		       '' AS CNTRL_AMT,
		       '' AS CNTRLR_END_DT
		  FROM TBL_F_TXN
		 WHERE 
				STLM_DT = #{stlmDt,jdbcType=VARCHAR}
			AND 
				TXN_CD in ('300009', '400004')
			AND 
	   		  MSG_TP ||  CUP_SSN  || TXN_DT_TM ||ACQ_INS_CD || FWD_INS_CD NOT IN    (SELECT ORG_DATA_ELE FROM   tbl_dep  WHERE TXN_CD in ('300010', '400005') AND STLM_DT = #{stlmDt,jdbcType=VARCHAR})
	  
		UNION 
		SELECT ACQ_INS_CD || FWD_INS_CD || CUP_SSN || TXN_DT_TM || PRC_CD AS UUID,
		       CUPS_CD AS KEY_CUP,
		       SUBSTR(TXN_DT_TM, 0, 4) as TRAN_DT,
		       CUPS_CD as SEQ_NB,
		       TXN_CD,
		       TXN_ST,
		       '' as LOC_DT,
		       SUBSTR(TXN_DT_TM, 5, 6) as LOC_TM,
		       TXN_TP as TRANS_TYPE,
		       CARD_TP,
		       '' AS MER_BNK_CD,
		       '' AS MER_BNK_NB,
		       ACQ_ID as MER_ID,
		       ACQ_NM as MER_NM,
		       CUP_SSN,
		       TXN_DT_TM,
		       ACQ_INS_CD,
		       FWD_INS_CD,
		       '' AS TERMNL_TYPE,
		       ACQ_TERM_ID,
		       '' as TERM_SSN,
		       '' as BATCH_NB,
		       PAN,
		       NVL(AMT_STLM, AMT_TXN) AS TRAN_AMT,
		       '' AS ACT_FEE,
		       NVL(CUR_STLM, CUR_TXN) as CUR,
		       '' AS PYR_ACCT_NB,
		       '' as PYR_ACCT_SVCR,
		       '' as PYE_ACCT_NB,
		       '' PYE_ACCT_SVCR,
		       AUTH_RSP_CD,
		       RETL_REF,
		       '' AS AMT_RETURN,
		       '' AS IS_MUTI_SYS,
		       '0' AS IS_CLEAN,
		       HOST_DT,
		       ' ' AS HOST_TM,
		       HOST_SSN,
		       HOST_ERR_CD,
		       ORG_SYS_DT,
		       ORG_SYS_SEQ,
		       CUPS_RSP_CD,
		       '' AS TFL_FLAG,
		       TRANS_DIRECTION,
		       TXN_CHNL_TP,
		       CHANNEL_SEQ,
		       SMY_CD,
		       OPEN_INST,
		       '' as REV_FLG,
		       '' as REV_SEQ,
		       '' as CAN_FLG,
		       '' as CAN_SEQ,
		       '' as RFD_FLG,
		       '' AS REAL_FLG,
		       '' AS TRANS_ACC,
		       '' AS DELAY_ST,
		       ORG_DATA_ELE,
		       '' AS FRZ_NO,
		       '' AS CNTRL_AMT,
		       '' AS CNTRLR_END_DT
		  FROM tbl_dep
		 WHERE
				STLM_DT = #{stlmDt,jdbcType=VARCHAR}
			AND 
				TXN_CD in ('300010', '400005') 
		 order by key_cup desc

  </select>
  
  
  <!--转入及转入确认-->
   <select id="selectTfr" parameterType="java.lang.String" resultMap="BaseResultMap">
    	SELECT ACQ_INS_CD || FWD_INS_CD || CUP_SSN || TXN_DT_TM || PRC_CD AS UUID,
		       SYS_SEQ AS KEY_CUP,
		       SUBSTR(TXN_DT_TM, 0, 4) as TRAN_DT,
		       SYS_SEQ as SEQ_NB,
		       TXN_CD,
		       TXN_ST,
		       SYS_DT as LOC_DT,
		       SUBSTR(TXN_DT_TM, 5, 6) as LOC_TM,
		       TXN_TP as TRANS_TYPE,
		       CARD_TP,
		       '' AS MER_BNK_CD,
		       '' AS MER_BNK_NB,
		       ACQ_ID as MER_ID,
		       ACQ_NM as MER_NM,
		       CUP_SSN,
		       TXN_DT_TM,
		       ACQ_INS_CD,
		       FWD_INS_CD,
		       '' AS TERMNL_TYPE,
		       ACQ_TERM_ID,
		       '' as TERM_SSN,
		       '' as BATCH_NB,
		       PAN,
		       NVL(AMT_STLM, AMT_TXN) AS TRAN_AMT,
		       '' AS ACT_FEE,
		       NVL(CUR_STLM, CUR_TXN) as CUR,
		       ACCT_ID1 AS PYR_ACCT_NB,
		       '' as PYR_ACCT_SVCR,
		       ACCT_ID2 as PYE_ACCT_NB,
		       '' PYE_ACCT_SVCR,
		       AUTH_RSP_CD,
		       RETL_REF,
		       '' AS AMT_RETURN,
		       '' AS IS_MUTI_SYS,
		       '0' AS IS_CLEAN,
		       HOST_DT,
		       ' ' AS HOST_TM,
		       HOST_SSN,
		       HOST_ERR_CD,
		       ORG_SYS_DT,
		       ORG_SYS_SEQ,
		       CUPS_RSP_CD,
		       '' AS TFL_FLAG,
		       TRANS_DIRECTION,
		       TXN_CHNL_TP,
		       CHANNEL_SEQ,
		       SMY_CD,
		       OPEN_INST,
		       REV_FLG,
		       REV_SEQ,
		       CAN_FLG,
		       CAN_SEQ,
		       RFD_FLG,
		       REAL_FLG,
		       TRANS_ACC,
		       DELAY_ST,
		       ORG_DATA_ELE,
		       '' AS FRZ_NO,
		       '' AS CNTRL_AMT,
		       '' AS CNTRLR_END_DT
		  FROM TBL_F_TXN
		 WHERE 
				STLM_DT = #{stlmDt,jdbcType=VARCHAR}
			AND 
				TXN_CD  ='300022'
			AND
			 MSG_TP ||  CUP_SSN  || TXN_DT_TM ||ACQ_INS_CD || FWD_INS_CD NOT IN    (SELECT ORG_DATA_ELE FROM   tbl_tfr  WHERE TXN_CD ='300023' AND STLM_DT = #{stlmDt,jdbcType=VARCHAR} )
	  
		UNION 
		SELECT ACQ_INS_CD || FWD_INS_CD || CUP_SSN || TXN_DT_TM || PRC_CD AS UUID,
              CUPS_CD AS KEY_CUP,
              SUBSTR(TXN_DT_TM, 0, 4) as TRAN_DT,
              CUPS_CD as SEQ_NB,
              TXN_CD,
              TXN_ST,
              '' as LOC_DT,
              SUBSTR(TXN_DT_TM, 5, 6) as LOC_TM,
              TXN_TP as TRANS_TYPE,
              '10' as CARD_TP,
              '' AS MER_BNK_CD,
              '' AS MER_BNK_NB,
              ACQ_ID as MER_ID,
              ACQ_NM as MER_NM,
              CUP_SSN,
              TXN_DT_TM,
              ACQ_INS_CD,
              FWD_INS_CD,
              '' AS TERMNL_TYPE,
              ACQ_TERM_ID,
              '' as TERM_SSN,
              '' as BATCH_NB,
              PAN,
              NVL(AMT_STLM, AMT_TXN) AS TRAN_AMT,
              '' AS ACT_FEE,
              NVL(CUR_STLM, CUR_TXN) as CUR,
              '' AS PYR_ACCT_NB,
              '' as PYR_ACCT_SVCR,
              '' as PYE_ACCT_NB,
              '' PYE_ACCT_SVCR,
              AUTH_RSP_CD,
              RETL_REF,
              '' AS AMT_RETURN,
              '' AS IS_MUTI_SYS,
              '0' AS IS_CLEAN,
              HOST_DT,
              ' ' AS HOST_TM,
              HOST_SSN,
              HOST_ERR_CD,
              ORG_SYS_DT,
              ORG_SYS_SEQ,
              CUPS_RSP_CD,
              '' AS TFL_FLAG,
              '2' as TRANS_DIRECTION,
              '' as TXN_CHNL_TP,
              '' AS CHANNEL_SEQ,
              SMY_CD,
              OPEN_INST,
              '' as REV_FLG,
              '' as REV_SEQ,
              '' as CAN_FLG,
              '' as CAN_SEQ,
              '' as RFD_FLG,
              '' AS REAL_FLG,
              '' AS TRANS_ACC,
              '' AS DELAY_ST,
              ORG_DATA_ELE,
              '' AS FRZ_NO,
              '' AS CNTRL_AMT,
              '' AS CNTRLR_END_DT
		  FROM tbl_tfr
		 WHERE
				STLM_DT = #{stlmDt,jdbcType=VARCHAR}
			AND 
				TXN_CD  ='300023'
		 
		 order by key_cup desc

  </select>
  
  
  
  
  
  <!-- 取出转账转入交易 -->
   <select id="selectTfrTxn" parameterType="java.lang.String" resultMap="BaseResultMap">
    	SELECT 
    			 MSG_TP,
    			ACQ_INS_CD || FWD_INS_CD || CUP_SSN || TXN_DT_TM || PRC_CD AS UUID,
		       SYS_SEQ AS KEY_CUP,
		       SUBSTR(TXN_DT_TM, 0, 4) as TRAN_DT,
		       SYS_SEQ as SEQ_NB,
		       TXN_CD,
		       TXN_ST,
		       SYS_DT as LOC_DT,
		       SUBSTR(TXN_DT_TM, 5, 6) as LOC_TM,
		       TXN_TP as TRANS_TYPE,
		       CARD_TP,
		       '' AS MER_BNK_CD,
		       '' AS MER_BNK_NB,
		       ACQ_ID as MER_ID,
		       ACQ_NM as MER_NM,
		       CUP_SSN,
		       TXN_DT_TM,
		       ACQ_INS_CD,
		       FWD_INS_CD,
		       '' AS TERMNL_TYPE,
		       ACQ_TERM_ID,
		       '' as TERM_SSN,
		       '' as BATCH_NB,
		       PAN,
		       NVL(AMT_STLM, AMT_TXN) AS TRAN_AMT,
		       '' AS ACT_FEE,
		       NVL(CUR_STLM, CUR_TXN) as CUR,
		       ACCT_ID1 AS PYR_ACCT_NB,
		       '' as PYR_ACCT_SVCR,
		       ACCT_ID2 as PYE_ACCT_NB,
		       '' PYE_ACCT_SVCR,
		       AUTH_RSP_CD,
		       RETL_REF,
		       '' AS AMT_RETURN,
		       '' AS IS_MUTI_SYS,
		       '0' AS IS_CLEAN,
		       HOST_DT,
		       ' ' AS HOST_TM,
		       HOST_SSN,
		       HOST_ERR_CD,
		       ORG_SYS_DT,
		       ORG_SYS_SEQ,
		       CUPS_RSP_CD,
		       '' AS TFL_FLAG,
		       TRANS_DIRECTION,
		       TXN_CHNL_TP,
		       CHANNEL_SEQ,
		       SMY_CD,
		       OPEN_INST,
		       REV_FLG,
		       REV_SEQ,
		       CAN_FLG,
		       CAN_SEQ,
		       RFD_FLG,
		       REAL_FLG,
		       TRANS_ACC,
		       DELAY_ST,
		       ORG_DATA_ELE,
		       '' AS FRZ_NO,
		       '' AS CNTRL_AMT,
		       '' AS CNTRLR_END_DT
		  FROM TBL_F_TXN
		 WHERE 
				STLM_DT = #{stlmDt,jdbcType=VARCHAR}
			AND 
				TXN_CD  ='300022'
		 order by key_cup desc

  </select>
  
  <!-- 取出转入确认交易 -->
   <select id="selectTfrMakeSureTxn" parameterType="java.lang.String" resultMap="BaseResultMap">
    	SELECT 
    		MSG_TP,
    		ACQ_INS_CD || FWD_INS_CD || CUP_SSN || TXN_DT_TM || PRC_CD AS UUID,
              CUPS_CD AS KEY_CUP,
              SUBSTR(TXN_DT_TM, 0, 4) as TRAN_DT,
              CUPS_CD as SEQ_NB,
              TXN_CD,
              TXN_ST,
              '' as LOC_DT,
              SUBSTR(TXN_DT_TM, 5, 6) as LOC_TM,
              TXN_TP as TRANS_TYPE,
              '10' as CARD_TP,
              '' AS MER_BNK_CD,
              '' AS MER_BNK_NB,
              ACQ_ID as MER_ID,
              ACQ_NM as MER_NM,
              CUP_SSN,
              TXN_DT_TM,
              ACQ_INS_CD,
              FWD_INS_CD,
              '' AS TERMNL_TYPE,
              ACQ_TERM_ID,
              '' as TERM_SSN,
              '' as BATCH_NB,
              PAN,
              NVL(AMT_STLM, AMT_TXN) AS TRAN_AMT,
              '' AS ACT_FEE,
              NVL(CUR_STLM, CUR_TXN) as CUR,
              '' AS PYR_ACCT_NB,
              '' as PYR_ACCT_SVCR,
              '' as PYE_ACCT_NB,
              '' PYE_ACCT_SVCR,
              AUTH_RSP_CD,
              RETL_REF,
              '' AS AMT_RETURN,
              '' AS IS_MUTI_SYS,
              '0' AS IS_CLEAN,
              HOST_DT,
              ' ' AS HOST_TM,
              HOST_SSN,
              HOST_ERR_CD,
              ORG_SYS_DT,
              ORG_SYS_SEQ,
              CUPS_RSP_CD,
              '' AS TFL_FLAG,
              '2' as TRANS_DIRECTION,
              '' as TXN_CHNL_TP,
              '' AS CHANNEL_SEQ,
              SMY_CD,
              OPEN_INST,
              '' as REV_FLG,
              '' as REV_SEQ,
              '' as CAN_FLG,
              '' as CAN_SEQ,
              '' as RFD_FLG,
              '' AS REAL_FLG,
              '' AS TRANS_ACC,
              '' AS DELAY_ST,
              ORG_DATA_ELE,
              '' AS FRZ_NO,
              '' AS CNTRL_AMT,
              '' AS CNTRLR_END_DT
		  FROM tbl_tfr
		 WHERE
				STLM_DT = #{stlmDt,jdbcType=VARCHAR}
			AND 
				TXN_CD  ='300023'
		 order by key_cup desc

  </select>
</mapper>