<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccbp.core.bus.mapper.CityCdMapper">
  <resultMap id="BaseResultMap" type="java.util.Map">
    <id column="CITY_CD" jdbcType="VARCHAR" property="cityCd" />
    <result column="CITY_NM" jdbcType="VARCHAR" property="cityNm" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="RGON_FLG" jdbcType="VARCHAR" property="rgonFlg"/>
    <result column="CRT_OPR" jdbcType="VARCHAR" property="crtOpr" />
    <result column="CRT_DT" jdbcType="VARCHAR" property="crtDt" />
    <result column="UPD_OPR" jdbcType="VARCHAR" property="updOpr" />
    <result column="UPD_DT" jdbcType="VARCHAR" property="updDt" />
    <result column="MISC" jdbcType="VARCHAR" property="misc" />
  </resultMap>
  <sql id="Base_Column_List">
    CITY_CD, CITY_NM, RGON_FLG, REMARK, CRT_OPR, CRT_DT, UPD_OPR, UPD_DT, MISC
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TBL_CITY_CD
    where CITY_CD = #{cityCd,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TBL_CITY_CD where CITY_CD = #{cityCd,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="java.util.Map">
    insert into TBL_CITY_CD (CITY_CD, CITY_NM, RGON_FLG, REMARK, CRT_OPR, CRT_DT, UPD_OPR, UPD_DT, MISC)
    values (#{cityCd,jdbcType=VARCHAR}, #{cityNm,jdbcType=VARCHAR}, #{rgonFlg, jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{crtOpr,jdbcType=VARCHAR}, #{crtDt,jdbcType=VARCHAR}, #{updOpr,jdbcType=VARCHAR}, #{updDt,jdbcType=VARCHAR}, #{misc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="java.util.Map">
    insert into TBL_CITY_CD
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cityCd != null">
        CITY_CD,
      </if>
      <if test="cityNm != null">
        CITY_NM,
      </if>
      <if test="rgonFlg != null">
        RGON_FLG,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="crtOpr != null">
        CRT_OPR,
      </if>
      <if test="crtDt != null">
        CRT_DT,
      </if>
      <if test="updOpr != null">
        UPD_OPR,
      </if>
      <if test="updDt != null">
        UPD_DT,
      </if>
      <if test="misc != null">
        MISC,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cityCd != null">
        #{cityCd,jdbcType=VARCHAR},
      </if>
      <if test="cityNm != null">
        #{cityNm,jdbcType=VARCHAR},
      </if>
      <if test="rgonFlg != null">
        #{rgonFlg,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="crtOpr != null">
        #{crtOpr,jdbcType=VARCHAR},
      </if>
      <if test="crtDt != null">
        #{crtDt,jdbcType=VARCHAR},
      </if>
      <if test="updOpr != null">
        #{updOpr,jdbcType=VARCHAR},
      </if>
      <if test="updDt != null">
        #{updDt,jdbcType=VARCHAR},
      </if>
      <if test="misc != null">
        #{misc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="java.util.Map">
    update TBL_CITY_CD
    <set>
      <if test="cityNm != null">
        CITY_NM = #{cityNm,jdbcType=VARCHAR},
      </if>
      <if test="rgonFlg != null">
        RGON_FLG = #{rgonFlg,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="crtOpr != null">
        CRT_OPR = #{crtOpr,jdbcType=VARCHAR},
      </if>
      <if test="crtDt != null">
        CRT_DT = #{crtDt,jdbcType=VARCHAR},
      </if>
      <if test="updOpr != null">
        UPD_OPR = #{updOpr,jdbcType=VARCHAR},
      </if>
      <if test="updDt != null">
        UPD_DT = #{updDt,jdbcType=VARCHAR},
      </if>
      <if test="misc != null">
        MISC = #{misc,jdbcType=VARCHAR},
      </if>
    </set>
    where CITY_CD = #{cityCd,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="java.util.Map">
    update TBL_CITY_CD
    set CITY_NM = #{cityNm,jdbcType=VARCHAR},
      RGON_FLG = #{rgonFlg,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      CRT_OPR = #{crtOpr,jdbcType=VARCHAR},
      CRT_DT = #{crtDt,jdbcType=VARCHAR},
      UPD_OPR = #{updOpr,jdbcType=VARCHAR},
      UPD_DT = #{updDt,jdbcType=VARCHAR},
      MISC = #{misc,jdbcType=VARCHAR}
    where CITY_CD = #{cityCd,jdbcType=VARCHAR}
  </update>
</mapper>