<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccbp.core.bus.mapper.ErrConvMapper">
  <resultMap id="BaseResultMap" type="java.util.Map">
    <id column="SRC_SYS_ID" jdbcType="VARCHAR" property="srcSysId" />
    <id column="SRC_ERR_CD" jdbcType="VARCHAR" property="srcErrCd" />
    <result column="DES_SYS_ID" jdbcType="VARCHAR" property="desSysId" />
    <result column="DES_ERR_CD" jdbcType="VARCHAR" property="desErrCd" />
    <result column="DES_ERR_MSG" jdbcType="VARCHAR" property="desErrMsg" />
    <result column="CRT_OPR" jdbcType="VARCHAR" property="crtOpr" />
    <result column="CRT_DT" jdbcType="VARCHAR" property="crtDt" />
    <result column="UPD_OPR" jdbcType="VARCHAR" property="updOpr" />
    <result column="UPD_DT" jdbcType="VARCHAR" property="updDt" />
    <result column="MISC" jdbcType="VARCHAR" property="misc" />
  </resultMap>
  <sql id="Base_Column_List">
    SRC_SYS_ID, SRC_ERR_CD, DES_SYS_ID, DES_ERR_CD, DES_ERR_MSG, CRT_OPR, CRT_DT, UPD_OPR, 
    UPD_DT, MISC
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TBL_ERR_CONV
    where SRC_SYS_ID = #{srcSysId,jdbcType=VARCHAR}
      and SRC_ERR_CD = #{srcErrCd,jdbcType=VARCHAR}
      and DES_SYS_ID = #{desSysId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey"  parameterType="java.util.Map">
    delete from TBL_ERR_CONV
    where SRC_SYS_ID = #{srcSysId,jdbcType=VARCHAR}
      and SRC_ERR_CD = #{srcErrCd,jdbcType=VARCHAR}
      and DES_SYS_ID = #{desSysId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" >
    insert into TBL_ERR_CONV (SRC_SYS_ID, SRC_ERR_CD, DES_SYS_ID, 
      DES_ERR_CD, DES_ERR_MSG, CRT_OPR, 
      CRT_DT, UPD_OPR, UPD_DT, 
      MISC)
    values (#{srcSysId,jdbcType=VARCHAR}, #{srcErrCd,jdbcType=VARCHAR}, #{desSysId,jdbcType=VARCHAR}, 
      #{desErrCd,jdbcType=VARCHAR}, #{desErrMsg,jdbcType=VARCHAR}, #{crtOpr,jdbcType=VARCHAR}, 
      #{crtDt,jdbcType=VARCHAR}, #{updOpr,jdbcType=VARCHAR}, #{updDt,jdbcType=VARCHAR}, 
      #{misc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="java.util.Map">
    insert into TBL_ERR_CONV
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="srcSysId != null">
        SRC_SYS_ID,
      </if>
      <if test="srcErrCd != null">
        SRC_ERR_CD,
      </if>
      <if test="desSysId != null">
        DES_SYS_ID,
      </if>
      <if test="desErrCd != null">
        DES_ERR_CD,
      </if>
      <if test="desErrMsg != null">
        DES_ERR_MSG,
      </if>
      <if test="crtOpr != null">
        CRT_OPR,
      </if>
      <if test="crtDt != null">
        CRT_DT,
      </if>
      <if test="updOpr != null">
        UPD_OPR,
      </if>
      <if test="updDt != null">
        UPD_DT,
      </if>
      <if test="misc != null">
        MISC,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="srcSysId != null">
        #{srcSysId,jdbcType=VARCHAR},
      </if>
      <if test="srcErrCd != null">
        #{srcErrCd,jdbcType=VARCHAR},
      </if>
      <if test="desSysId != null">
        #{desSysId,jdbcType=VARCHAR},
      </if>
      <if test="desErrCd != null">
        #{desErrCd,jdbcType=VARCHAR},
      </if>
      <if test="desErrMsg != null">
        #{desErrMsg,jdbcType=VARCHAR},
      </if>
      <if test="crtOpr != null">
        #{crtOpr,jdbcType=VARCHAR},
      </if>
      <if test="crtDt != null">
        #{crtDt,jdbcType=VARCHAR},
      </if>
      <if test="updOpr != null">
        #{updOpr,jdbcType=VARCHAR},
      </if>
      <if test="updDt != null">
        #{updDt,jdbcType=VARCHAR},
      </if>
      <if test="misc != null">
        #{misc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="java.util.Map">
    update TBL_ERR_CONV
    <set>
      <if test="desSysId != null">
        DES_SYS_ID = #{desSysId,jdbcType=VARCHAR},
      </if>
      <if test="desErrCd != null">
        DES_ERR_CD = #{desErrCd,jdbcType=VARCHAR},
      </if>
      <if test="desErrMsg != null">
        DES_ERR_MSG = #{desErrMsg,jdbcType=VARCHAR},
      </if>
      <if test="crtOpr != null">
        CRT_OPR = #{crtOpr,jdbcType=VARCHAR},
      </if>
      <if test="crtDt != null">
        CRT_DT = #{crtDt,jdbcType=VARCHAR},
      </if>
      <if test="updOpr != null">
        UPD_OPR = #{updOpr,jdbcType=VARCHAR},
      </if>
      <if test="updDt != null">
        UPD_DT = #{updDt,jdbcType=VARCHAR},
      </if>
      <if test="misc != null">
        MISC = #{misc,jdbcType=VARCHAR},
      </if>
    </set>
    where SRC_SYS_ID = #{srcSysId,jdbcType=VARCHAR}
      and SRC_ERR_CD = #{srcErrCd,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="java.util.Map">
    update TBL_ERR_CONV
    set DES_SYS_ID = #{desSysId,jdbcType=VARCHAR},
      DES_ERR_CD = #{desErrCd,jdbcType=VARCHAR},
      DES_ERR_MSG = #{desErrMsg,jdbcType=VARCHAR},
      CRT_OPR = #{crtOpr,jdbcType=VARCHAR},
      CRT_DT = #{crtDt,jdbcType=VARCHAR},
      UPD_OPR = #{updOpr,jdbcType=VARCHAR},
      UPD_DT = #{updDt,jdbcType=VARCHAR},
      MISC = #{misc,jdbcType=VARCHAR}
    where SRC_SYS_ID = #{srcSysId,jdbcType=VARCHAR}
      and SRC_ERR_CD = #{srcErrCd,jdbcType=VARCHAR}
  </update>
</mapper>