<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccbp.core.bus.mapper.TblDfMapper">
  <resultMap id="BaseResultMap" type="java.util.Map">
    <id column="SYS_DT" jdbcType="VARCHAR" property="sysDt" />
    <id column="SYS_SEQ" jdbcType="VARCHAR" property="sysSeq" />
    <result column="TXN_CD" jdbcType="VARCHAR" property="txnCd" />
    <result column="TXN_DESC" jdbcType="VARCHAR" property="txnDesc" />
    <result column="TXN_TP" jdbcType="VARCHAR" property="txnTp" />
    <result column="TXN_ST" jdbcType="VARCHAR" property="txnSt" />
    <result column="ERR_CD" jdbcType="VARCHAR" property="errCd" />
    <result column="ERR_MSG" jdbcType="VARCHAR" property="errMsg" />
    <result column="REV_FLG" jdbcType="VARCHAR" property="revFlg" />
    <result column="REV_SEQ" jdbcType="VARCHAR" property="revSeq" />
    <result column="CAN_FLG" jdbcType="VARCHAR" property="canFlg" />
    <result column="CAN_SEQ" jdbcType="VARCHAR" property="canSeq" />
    <result column="RFD_FLG" jdbcType="VARCHAR" property="rfdFlg" />
    <result column="CUPS_STLM_DT" jdbcType="VARCHAR" property="cupsStlmDt" />
    <result column="HD_BUF" jdbcType="VARCHAR" property="hdBuf" />
    <result column="MSG_TP" jdbcType="VARCHAR" property="msgTp" />
    <result column="PAN" jdbcType="VARCHAR" property="pan" />
    <result column="CD_SEQ_NO" jdbcType="VARCHAR" property="cdSeqNo" />
    <result column="PRC_CD" jdbcType="VARCHAR" property="prcCd" />
    <result column="AMT_TXN" jdbcType="VARCHAR" property="amtTxn" />
    <result column="AMT_STLM" jdbcType="VARCHAR" property="amtStlm" />
    <result column="AMT_CDHLD" jdbcType="VARCHAR" property="amtCdhld" />
    <result column="TXN_DT_TM" jdbcType="VARCHAR" property="txnDtTm" />
    <result column="RAT_STLM" jdbcType="VARCHAR" property="ratStlm" />
    <result column="RAT_CDHLD" jdbcType="VARCHAR" property="ratCdhld" />
    <result column="CUP_SSN" jdbcType="VARCHAR" property="cupSsn" />
    <result column="LCL_TM" jdbcType="VARCHAR" property="lclTm" />
    <result column="LCL_DT" jdbcType="VARCHAR" property="lclDt" />
    <result column="EXPR_DT" jdbcType="VARCHAR" property="exprDt" />
    <result column="CONV_DT" jdbcType="VARCHAR" property="convDt" />
    <result column="STLM_DT" jdbcType="VARCHAR" property="stlmDt" />
    <result column="MCHT_TP" jdbcType="VARCHAR" property="mchtTp" />
    <result column="ACQ_INS_CD" jdbcType="VARCHAR" property="acqInsCd" />
    <result column="FWD_INS_CD" jdbcType="VARCHAR" property="fwdInsCd" />
    <result column="RETL_REF" jdbcType="VARCHAR" property="retlRef" />
    <result column="AUTH_RSP_CD" jdbcType="VARCHAR" property="authRspCd" />
    <result column="CUPS_RSP_CD" jdbcType="VARCHAR" property="cupsRspCd" />
    <result column="ACQ_TERM_ID" jdbcType="VARCHAR" property="acqTermId" />
    <result column="ACQ_ID" jdbcType="VARCHAR" property="acqId" />
    <result column="ACQ_NM" jdbcType="VARCHAR" property="acqNm" />
    <result column="ADD_DATA" jdbcType="VARCHAR" property="addData" />
    <result column="CUR_TXN" jdbcType="VARCHAR" property="curTxn" />
    <result column="CUR_STLM" jdbcType="VARCHAR" property="curStlm" />
    <result column="CUR_CDHLD" jdbcType="VARCHAR" property="curCdhld" />
    <result column="ADD_AMT" jdbcType="VARCHAR" property="addAmt" />
    <result column="FLD_RCS" jdbcType="VARCHAR" property="fldRcs" />
    <result column="CDHLD_INF" jdbcType="VARCHAR" property="cdhldInf" />
    <result column="ORG_SYS_DT" jdbcType="VARCHAR" property="orgSysDt" />
    <result column="ORG_SYS_SEQ" jdbcType="VARCHAR" property="orgSysSeq" />
    <result column="ORG_DATA_ELE" jdbcType="VARCHAR" property="orgDataEle" />
    <result column="RCV_INS_CD" jdbcType="VARCHAR" property="rcvInsCd" />
    <result column="ACCT_ID1" jdbcType="VARCHAR" property="acctId1" />
    <result column="ACCT_ID2" jdbcType="VARCHAR" property="acctId2" />
    <result column="IC_DATA" jdbcType="VARCHAR" property="ICCData" />
    <result column="HOST_SSN" jdbcType="VARCHAR" property="hostSsn" />
    <result column="HOST_DT" jdbcType="VARCHAR" property="hostDt" />
    <result column="HOST_TP" jdbcType="VARCHAR" property="hostTp" />
    <result column="HOST_ERR_CD" jdbcType="VARCHAR" property="hostErrCd" />
    <result column="HOST_ERR_MSSG" jdbcType="VARCHAR" property="hostErrMssg" />
    <result column="CRT_OPR" jdbcType="VARCHAR" property="crtOpr" />
    <result column="CRT_DT" jdbcType="VARCHAR" property="crtDt" />
    <result column="UPD_OPR" jdbcType="VARCHAR" property="updOpr" />
    <result column="UPD_DT" jdbcType="VARCHAR" property="updDt" />
    <result column="MISC" jdbcType="VARCHAR" property="misc" />
    <result column="COND_CD" jdbcType="VARCHAR" property="condCd" />
    
  </resultMap>
  <sql id="Base_Column_List">
    SYS_DT, SYS_SEQ, TXN_CD, TXN_DESC, TXN_TP, TXN_ST, ERR_CD, ERR_MSG, REV_FLG, REV_SEQ, 
    CAN_FLG, CAN_SEQ, RFD_FLG, CUPS_STLM_DT, HD_BUF, MSG_TP, PAN, CD_SEQ_NO, PRC_CD, 
    AMT_TXN, AMT_STLM, AMT_CDHLD, TXN_DT_TM, RAT_STLM, RAT_CDHLD, CUP_SSN, LCL_TM, LCL_DT, 
    EXPR_DT, CONV_DT, STLM_DT, MCHT_TP, ACQ_INS_CD, FWD_INS_CD, RETL_REF, AUTH_RSP_CD, 
    CUPS_RSP_CD, ACQ_TERM_ID, ACQ_ID, ACQ_NM, ADD_DATA, CUR_TXN, CUR_STLM, CUR_CDHLD, 
    ADD_AMT, FLD_RCS, CDHLD_INF, ORG_SYS_DT, ORG_SYS_SEQ, ORG_DATA_ELE, RCV_INS_CD, ACCT_ID1, 
    ACCT_ID2, IC_DATA, HOST_SSN, HOST_DT, HOST_TP, HOST_ERR_CD, HOST_ERR_MSSG, CRT_OPR, 
    CRT_DT, UPD_OPR, UPD_DT, MISC,COND_CD
  </sql>
  <select id="selectByPrimaryKey"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TBL_DF
    where SYS_DT = #{sysDt,jdbcType=VARCHAR}
      and SYS_SEQ = #{sysSeq,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" >
    delete from TBL_DF
    where SYS_DT = #{sysDt,jdbcType=VARCHAR}
      and SYS_SEQ = #{sysSeq,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="java.util.Map">
    insert into TBL_DF (SYS_DT, SYS_SEQ, TXN_CD, 
      TXN_DESC, TXN_TP, TXN_ST, 
      ERR_CD, ERR_MSG, REV_FLG, 
      REV_SEQ, CAN_FLG, CAN_SEQ, 
      RFD_FLG, CUPS_STLM_DT, HD_BUF, 
      MSG_TP, PAN, CD_SEQ_NO, 
      PRC_CD, AMT_TXN, AMT_STLM, 
      AMT_CDHLD, TXN_DT_TM, RAT_STLM, 
      RAT_CDHLD, CUP_SSN, LCL_TM, 
      LCL_DT, EXPR_DT, CONV_DT, 
      STLM_DT, MCHT_TP, ACQ_INS_CD, 
      FWD_INS_CD, RETL_REF, AUTH_RSP_CD, 
      CUPS_RSP_CD, ACQ_TERM_ID, ACQ_ID, 
      ACQ_NM, ADD_DATA, CUR_TXN, 
      CUR_STLM, CUR_CDHLD, ADD_AMT, 
      FLD_RCS, CDHLD_INF, ORG_SYS_DT, 
      ORG_SYS_SEQ, ORG_DATA_ELE, RCV_INS_CD, 
      ACCT_ID1, ACCT_ID2, IC_DATA, 
      HOST_SSN, HOST_DT, HOST_TP, 
      HOST_ERR_CD, HOST_ERR_MSSG, CRT_OPR, 
      CRT_DT, UPD_OPR, UPD_DT, 
      MISC,COND_CD)
    values (#{sysDt,jdbcType=VARCHAR}, #{sysSeq,jdbcType=VARCHAR}, #{txnCd,jdbcType=VARCHAR}, 
      #{txnDesc,jdbcType=VARCHAR}, #{txnTp,jdbcType=VARCHAR}, #{txnSt,jdbcType=VARCHAR}, 
      #{errCd,jdbcType=VARCHAR}, #{errMsg,jdbcType=VARCHAR}, #{revFlg,jdbcType=VARCHAR}, 
      #{revSeq,jdbcType=VARCHAR}, #{canFlg,jdbcType=VARCHAR}, #{canSeq,jdbcType=VARCHAR}, 
      #{rfdFlg,jdbcType=VARCHAR}, #{cupsStlmDt,jdbcType=VARCHAR}, #{hdBuf,jdbcType=VARCHAR}, 
      #{msgTp,jdbcType=VARCHAR}, #{pan,jdbcType=VARCHAR}, #{cdSeqNo,jdbcType=VARCHAR}, 
      #{prcCd,jdbcType=VARCHAR}, #{amtTxn,jdbcType=VARCHAR}, #{amtStlm,jdbcType=VARCHAR}, 
      #{amtCdhld,jdbcType=VARCHAR}, #{txnDtTm,jdbcType=VARCHAR}, #{ratStlm,jdbcType=VARCHAR}, 
      #{ratCdhld,jdbcType=VARCHAR}, #{cupSsn,jdbcType=VARCHAR}, #{lclTm,jdbcType=VARCHAR}, 
      #{lclDt,jdbcType=VARCHAR}, #{exprDt,jdbcType=VARCHAR}, #{convDt,jdbcType=VARCHAR}, 
      #{stlmDt,jdbcType=VARCHAR}, #{mchtTp,jdbcType=VARCHAR}, #{acqInsCd,jdbcType=VARCHAR}, 
      #{fwdInsCd,jdbcType=VARCHAR}, #{retlRef,jdbcType=VARCHAR}, #{authRspCd,jdbcType=VARCHAR}, 
      #{cupsRspCd,jdbcType=VARCHAR}, #{acqTermId,jdbcType=VARCHAR}, #{acqId,jdbcType=VARCHAR}, 
      #{acqNm,jdbcType=VARCHAR}, #{addData,jdbcType=VARCHAR}, #{curTxn,jdbcType=VARCHAR}, 
      #{curStlm,jdbcType=VARCHAR}, #{curCdhld,jdbcType=VARCHAR}, #{addAmt,jdbcType=VARCHAR}, 
      #{fldRcs,jdbcType=VARCHAR}, #{cdhldInf,jdbcType=VARCHAR}, #{orgSysDt,jdbcType=VARCHAR}, 
      #{orgSysSeq,jdbcType=VARCHAR}, #{orgDataEle,jdbcType=VARCHAR}, #{rcvInsCd,jdbcType=VARCHAR}, 
      #{acctId1,jdbcType=VARCHAR}, #{acctId2,jdbcType=VARCHAR}, #{ICCData,jdbcType=VARCHAR}, 
      #{hostSsn,jdbcType=VARCHAR}, #{hostDt,jdbcType=VARCHAR}, #{hostTp,jdbcType=VARCHAR}, 
      #{hostErrCd,jdbcType=VARCHAR}, #{hostErrMssg,jdbcType=VARCHAR}, #{crtOpr,jdbcType=VARCHAR}, 
      #{crtDt,jdbcType=VARCHAR}, #{updOpr,jdbcType=VARCHAR}, #{updDt,jdbcType=VARCHAR}, 
      #{misc,jdbcType=VARCHAR},#{condCd,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="java.util.Map">
    insert into TBL_DF
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sysDt != null">
        SYS_DT,
      </if>
      <if test="sysSeq != null">
        SYS_SEQ,
      </if>
      <if test="txnCd != null">
        TXN_CD,
      </if>
      <if test="txnDesc != null">
        TXN_DESC,
      </if>
      <if test="txnTp != null">
        TXN_TP,
      </if>
      <if test="txnSt != null">
        TXN_ST,
      </if>
      <if test="errCd != null">
        ERR_CD,
      </if>
      <if test="errMsg != null">
        ERR_MSG,
      </if>
      <if test="revFlg != null">
        REV_FLG,
      </if>
      <if test="revSeq != null">
        REV_SEQ,
      </if>
      <if test="canFlg != null">
        CAN_FLG,
      </if>
      <if test="canSeq != null">
        CAN_SEQ,
      </if>
      <if test="rfdFlg != null">
        RFD_FLG,
      </if>
      <if test="cupsStlmDt != null">
        CUPS_STLM_DT,
      </if>
      <if test="hdBuf != null">
        HD_BUF,
      </if>
      <if test="msgTp != null">
        MSG_TP,
      </if>
      <if test="pan != null">
        PAN,
      </if>
      <if test="cdSeqNo != null">
        CD_SEQ_NO,
      </if>
      <if test="prcCd != null">
        PRC_CD,
      </if>
      <if test="amtTxn != null">
        AMT_TXN,
      </if>
      <if test="amtStlm != null">
        AMT_STLM,
      </if>
      <if test="amtCdhld != null">
        AMT_CDHLD,
      </if>
      <if test="txnDtTm != null">
        TXN_DT_TM,
      </if>
      <if test="ratStlm != null">
        RAT_STLM,
      </if>
      <if test="ratCdhld != null">
        RAT_CDHLD,
      </if>
      <if test="cupSsn != null">
        CUP_SSN,
      </if>
      <if test="lclTm != null">
        LCL_TM,
      </if>
      <if test="lclDt != null">
        LCL_DT,
      </if>
      <if test="exprDt != null">
        EXPR_DT,
      </if>
      <if test="convDt != null">
        CONV_DT,
      </if>
      <if test="stlmDt != null">
        STLM_DT,
      </if>
      <if test="mchtTp != null">
        MCHT_TP,
      </if>
      <if test="acqInsCd != null">
        ACQ_INS_CD,
      </if>
      <if test="fwdInsCd != null">
        FWD_INS_CD,
      </if>
      <if test="retlRef != null">
        RETL_REF,
      </if>
      <if test="authRspCd != null">
        AUTH_RSP_CD,
      </if>
      <if test="cupsRspCd != null">
        CUPS_RSP_CD,
      </if>
      <if test="acqTermId != null">
        ACQ_TERM_ID,
      </if>
      <if test="acqId != null">
        ACQ_ID,
      </if>
      <if test="acqNm != null">
        ACQ_NM,
      </if>
      <if test="addData != null">
        ADD_DATA,
      </if>
      <if test="curTxn != null">
        CUR_TXN,
      </if>
      <if test="curStlm != null">
        CUR_STLM,
      </if>
      <if test="curCdhld != null">
        CUR_CDHLD,
      </if>
      <if test="addAmt != null">
        ADD_AMT,
      </if>
      <if test="fldRcs != null">
        FLD_RCS,
      </if>
      <if test="cdhldInf != null">
        CDHLD_INF,
      </if>
      <if test="orgSysDt != null">
        ORG_SYS_DT,
      </if>
      <if test="orgSysSeq != null">
        ORG_SYS_SEQ,
      </if>
      <if test="orgDataEle != null">
        ORG_DATA_ELE,
      </if>
      <if test="rcvInsCd != null">
        RCV_INS_CD,
      </if>
      <if test="acctId1 != null">
        ACCT_ID1,
      </if>
      <if test="acctId2 != null">
        ACCT_ID2,
      </if>
      <if test="ICCData != null">
        IC_DATA,
      </if>
      <if test="hostSsn != null">
        HOST_SSN,
      </if>
      <if test="hostDt != null">
        HOST_DT,
      </if>
      <if test="hostTp != null">
        HOST_TP,
      </if>
      <if test="hostErrCd != null">
        HOST_ERR_CD,
      </if>
      <if test="hostErrMssg != null">
        HOST_ERR_MSSG,
      </if>
      <if test="crtOpr != null">
        CRT_OPR,
      </if>
      <if test="crtDt != null">
        CRT_DT,
      </if>
      <if test="updOpr != null">
        UPD_OPR,
      </if>
      <if test="updDt != null">
        UPD_DT,
      </if>
      <if test="misc != null">
        MISC,
      </if>
      <if test="condCd != null">
        COND_CD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sysDt != null">
        #{sysDt,jdbcType=VARCHAR},
      </if>
      <if test="sysSeq != null">
        #{sysSeq,jdbcType=VARCHAR},
      </if>
      <if test="txnCd != null">
        #{txnCd,jdbcType=VARCHAR},
      </if>
      <if test="txnDesc != null">
        #{txnDesc,jdbcType=VARCHAR},
      </if>
      <if test="txnTp != null">
        #{txnTp,jdbcType=VARCHAR},
      </if>
      <if test="txnSt != null">
        #{txnSt,jdbcType=VARCHAR},
      </if>
      <if test="errCd != null">
        #{errCd,jdbcType=VARCHAR},
      </if>
      <if test="errMsg != null">
        #{errMsg,jdbcType=VARCHAR},
      </if>
      <if test="revFlg != null">
        #{revFlg,jdbcType=VARCHAR},
      </if>
      <if test="revSeq != null">
        #{revSeq,jdbcType=VARCHAR},
      </if>
      <if test="canFlg != null">
        #{canFlg,jdbcType=VARCHAR},
      </if>
      <if test="canSeq != null">
        #{canSeq,jdbcType=VARCHAR},
      </if>
      <if test="rfdFlg != null">
        #{rfdFlg,jdbcType=VARCHAR},
      </if>
      <if test="cupsStlmDt != null">
        #{cupsStlmDt,jdbcType=VARCHAR},
      </if>
      <if test="hdBuf != null">
        #{hdBuf,jdbcType=VARCHAR},
      </if>
      <if test="msgTp != null">
        #{msgTp,jdbcType=VARCHAR},
      </if>
      <if test="pan != null">
        #{pan,jdbcType=VARCHAR},
      </if>
      <if test="cdSeqNo != null">
        #{cdSeqNo,jdbcType=VARCHAR},
      </if>
      <if test="prcCd != null">
        #{prcCd,jdbcType=VARCHAR},
      </if>
      <if test="amtTxn != null">
        #{amtTxn,jdbcType=VARCHAR},
      </if>
      <if test="amtStlm != null">
        #{amtStlm,jdbcType=VARCHAR},
      </if>
      <if test="amtCdhld != null">
        #{amtCdhld,jdbcType=VARCHAR},
      </if>
      <if test="txnDtTm != null">
        #{txnDtTm,jdbcType=VARCHAR},
      </if>
      <if test="ratStlm != null">
        #{ratStlm,jdbcType=VARCHAR},
      </if>
      <if test="ratCdhld != null">
        #{ratCdhld,jdbcType=VARCHAR},
      </if>
      <if test="cupSsn != null">
        #{cupSsn,jdbcType=VARCHAR},
      </if>
      <if test="lclTm != null">
        #{lclTm,jdbcType=VARCHAR},
      </if>
      <if test="lclDt != null">
        #{lclDt,jdbcType=VARCHAR},
      </if>
      <if test="exprDt != null">
        #{exprDt,jdbcType=VARCHAR},
      </if>
      <if test="convDt != null">
        #{convDt,jdbcType=VARCHAR},
      </if>
      <if test="stlmDt != null">
        #{stlmDt,jdbcType=VARCHAR},
      </if>
      <if test="mchtTp != null">
        #{mchtTp,jdbcType=VARCHAR},
      </if>
      <if test="acqInsCd != null">
        #{acqInsCd,jdbcType=VARCHAR},
      </if>
      <if test="fwdInsCd != null">
        #{fwdInsCd,jdbcType=VARCHAR},
      </if>
      <if test="retlRef != null">
        #{retlRef,jdbcType=VARCHAR},
      </if>
      <if test="authRspCd != null">
        #{authRspCd,jdbcType=VARCHAR},
      </if>
      <if test="cupsRspCd != null">
        #{cupsRspCd,jdbcType=VARCHAR},
      </if>
      <if test="acqTermId != null">
        #{acqTermId,jdbcType=VARCHAR},
      </if>
      <if test="acqId != null">
        #{acqId,jdbcType=VARCHAR},
      </if>
      <if test="acqNm != null">
        #{acqNm,jdbcType=VARCHAR},
      </if>
      <if test="addData != null">
        #{addData,jdbcType=VARCHAR},
      </if>
      <if test="curTxn != null">
        #{curTxn,jdbcType=VARCHAR},
      </if>
      <if test="curStlm != null">
        #{curStlm,jdbcType=VARCHAR},
      </if>
      <if test="curCdhld != null">
        #{curCdhld,jdbcType=VARCHAR},
      </if>
      <if test="addAmt != null">
        #{addAmt,jdbcType=VARCHAR},
      </if>
      <if test="fldRcs != null">
        #{fldRcs,jdbcType=VARCHAR},
      </if>
      <if test="cdhldInf != null">
        #{cdhldInf,jdbcType=VARCHAR},
      </if>
      <if test="orgSysDt != null">
        #{orgSysDt,jdbcType=VARCHAR},
      </if>
      <if test="orgSysSeq != null">
        #{orgSysSeq,jdbcType=VARCHAR},
      </if>
      <if test="orgDataEle != null">
        #{orgDataEle,jdbcType=VARCHAR},
      </if>
      <if test="rcvInsCd != null">
        #{rcvInsCd,jdbcType=VARCHAR},
      </if>
      <if test="acctId1 != null">
        #{acctId1,jdbcType=VARCHAR},
      </if>
      <if test="acctId2 != null">
        #{acctId2,jdbcType=VARCHAR},
      </if>
      <if test="ICCData != null">
        #{ICCData,jdbcType=VARCHAR},
      </if>
      <if test="hostSsn != null">
        #{hostSsn,jdbcType=VARCHAR},
      </if>
      <if test="hostDt != null">
        #{hostDt,jdbcType=VARCHAR},
      </if>
      <if test="hostTp != null">
        #{hostTp,jdbcType=VARCHAR},
      </if>
      <if test="hostErrCd != null">
        #{hostErrCd,jdbcType=VARCHAR},
      </if>
      <if test="hostErrMssg != null">
        #{hostErrMssg,jdbcType=VARCHAR},
      </if>
      <if test="crtOpr != null">
        #{crtOpr,jdbcType=VARCHAR},
      </if>
      <if test="crtDt != null">
        #{crtDt,jdbcType=VARCHAR},
      </if>
      <if test="updOpr != null">
        #{updOpr,jdbcType=VARCHAR},
      </if>
      <if test="updDt != null">
        #{updDt,jdbcType=VARCHAR},
      </if>
      <if test="misc != null">
        #{misc,jdbcType=VARCHAR},
      </if>
      <if test="condCd != null">
        #{condCd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="java.util.Map">
    update TBL_DF
    <set>
      <if test="txnCd != null">
        TXN_CD = #{txnCd,jdbcType=VARCHAR},
      </if>
      <if test="txnDesc != null">
        TXN_DESC = #{txnDesc,jdbcType=VARCHAR},
      </if>
      <if test="txnTp != null">
        TXN_TP = #{txnTp,jdbcType=VARCHAR},
      </if>
      <if test="txnSt != null">
        TXN_ST = #{txnSt,jdbcType=VARCHAR},
      </if>
      <if test="errCd != null">
        ERR_CD = #{errCd,jdbcType=VARCHAR},
      </if>
      <if test="errMsg != null">
        ERR_MSG = #{errMsg,jdbcType=VARCHAR},
      </if>
      <if test="revFlg != null">
        REV_FLG = #{revFlg,jdbcType=VARCHAR},
      </if>
      <if test="revSeq != null">
        REV_SEQ = #{revSeq,jdbcType=VARCHAR},
      </if>
      <if test="canFlg != null">
        CAN_FLG = #{canFlg,jdbcType=VARCHAR},
      </if>
      <if test="canSeq != null">
        CAN_SEQ = #{canSeq,jdbcType=VARCHAR},
      </if>
      <if test="rfdFlg != null">
        RFD_FLG = #{rfdFlg,jdbcType=VARCHAR},
      </if>
      <if test="cupsStlmDt != null">
        CUPS_STLM_DT = #{cupsStlmDt,jdbcType=VARCHAR},
      </if>
      <if test="hdBuf != null">
        HD_BUF = #{hdBuf,jdbcType=VARCHAR},
      </if>
      <if test="msgTp != null">
        MSG_TP = #{msgTp,jdbcType=VARCHAR},
      </if>
      <if test="pan != null">
        PAN = #{pan,jdbcType=VARCHAR},
      </if>
      <if test="cdSeqNo != null">
        CD_SEQ_NO = #{cdSeqNo,jdbcType=VARCHAR},
      </if>
      <if test="prcCd != null">
        PRC_CD = #{prcCd,jdbcType=VARCHAR},
      </if>
      <if test="amtTxn != null">
        AMT_TXN = #{amtTxn,jdbcType=VARCHAR},
      </if>
      <if test="amtStlm != null">
        AMT_STLM = #{amtStlm,jdbcType=VARCHAR},
      </if>
      <if test="amtCdhld != null">
        AMT_CDHLD = #{amtCdhld,jdbcType=VARCHAR},
      </if>
      <if test="txnDtTm != null">
        TXN_DT_TM = #{txnDtTm,jdbcType=VARCHAR},
      </if>
      <if test="ratStlm != null">
        RAT_STLM = #{ratStlm,jdbcType=VARCHAR},
      </if>
      <if test="ratCdhld != null">
        RAT_CDHLD = #{ratCdhld,jdbcType=VARCHAR},
      </if>
      <if test="cupSsn != null">
        CUP_SSN = #{cupSsn,jdbcType=VARCHAR},
      </if>
      <if test="lclTm != null">
        LCL_TM = #{lclTm,jdbcType=VARCHAR},
      </if>
      <if test="lclDt != null">
        LCL_DT = #{lclDt,jdbcType=VARCHAR},
      </if>
      <if test="exprDt != null">
        EXPR_DT = #{exprDt,jdbcType=VARCHAR},
      </if>
      <if test="convDt != null">
        CONV_DT = #{convDt,jdbcType=VARCHAR},
      </if>
      <if test="stlmDt != null">
        STLM_DT = #{stlmDt,jdbcType=VARCHAR},
      </if>
      <if test="mchtTp != null">
        MCHT_TP = #{mchtTp,jdbcType=VARCHAR},
      </if>
      <if test="acqInsCd != null">
        ACQ_INS_CD = #{acqInsCd,jdbcType=VARCHAR},
      </if>
      <if test="fwdInsCd != null">
        FWD_INS_CD = #{fwdInsCd,jdbcType=VARCHAR},
      </if>
      <if test="retlRef != null">
        RETL_REF = #{retlRef,jdbcType=VARCHAR},
      </if>
      <if test="authRspCd != null">
        AUTH_RSP_CD = #{authRspCd,jdbcType=VARCHAR},
      </if>
      <if test="cupsRspCd != null">
        CUPS_RSP_CD = #{cupsRspCd,jdbcType=VARCHAR},
      </if>
      <if test="acqTermId != null">
        ACQ_TERM_ID = #{acqTermId,jdbcType=VARCHAR},
      </if>
      <if test="acqId != null">
        ACQ_ID = #{acqId,jdbcType=VARCHAR},
      </if>
      <if test="acqNm != null">
        ACQ_NM = #{acqNm,jdbcType=VARCHAR},
      </if>
      <if test="addData != null">
        ADD_DATA = #{addData,jdbcType=VARCHAR},
      </if>
      <if test="curTxn != null">
        CUR_TXN = #{curTxn,jdbcType=VARCHAR},
      </if>
      <if test="curStlm != null">
        CUR_STLM = #{curStlm,jdbcType=VARCHAR},
      </if>
      <if test="curCdhld != null">
        CUR_CDHLD = #{curCdhld,jdbcType=VARCHAR},
      </if>
      <if test="addAmt != null">
        ADD_AMT = #{addAmt,jdbcType=VARCHAR},
      </if>
      <if test="fldRcs != null">
        FLD_RCS = #{fldRcs,jdbcType=VARCHAR},
      </if>
      <if test="cdhldInf != null">
        CDHLD_INF = #{cdhldInf,jdbcType=VARCHAR},
      </if>
      <if test="orgSysDt != null">
        ORG_SYS_DT = #{orgSysDt,jdbcType=VARCHAR},
      </if>
      <if test="orgSysSeq != null">
        ORG_SYS_SEQ = #{orgSysSeq,jdbcType=VARCHAR},
      </if>
      <if test="orgDataEle != null">
        ORG_DATA_ELE = #{orgDataEle,jdbcType=VARCHAR},
      </if>
      <if test="rcvInsCd != null">
        RCV_INS_CD = #{rcvInsCd,jdbcType=VARCHAR},
      </if>
      <if test="acctId1 != null">
        ACCT_ID1 = #{acctId1,jdbcType=VARCHAR},
      </if>
      <if test="acctId2 != null">
        ACCT_ID2 = #{acctId2,jdbcType=VARCHAR},
      </if>
      <if test="ICCData != null">
        IC_DATA = #{ICCData,jdbcType=VARCHAR},
      </if>
      <if test="hostSsn != null">
        HOST_SSN = #{hostSsn,jdbcType=VARCHAR},
      </if>
      <if test="hostDt != null">
        HOST_DT = #{hostDt,jdbcType=VARCHAR},
      </if>
      <if test="hostTp != null">
        HOST_TP = #{hostTp,jdbcType=VARCHAR},
      </if>
      <if test="hostErrCd != null">
        HOST_ERR_CD = #{hostErrCd,jdbcType=VARCHAR},
      </if>
      <if test="hostErrMssg != null">
        HOST_ERR_MSSG = #{hostErrMssg,jdbcType=VARCHAR},
      </if>
      <if test="crtOpr != null">
        CRT_OPR = #{crtOpr,jdbcType=VARCHAR},
      </if>
      <if test="crtDt != null">
        CRT_DT = #{crtDt,jdbcType=VARCHAR},
      </if>
      <if test="updOpr != null">
        UPD_OPR = #{updOpr,jdbcType=VARCHAR},
      </if>
      <if test="updDt != null">
        UPD_DT = #{updDt,jdbcType=VARCHAR},
      </if>
      <if test="misc != null">
        MISC = #{misc,jdbcType=VARCHAR},
      </if>
       <if test="condCd != null">
        COND_CD = #{condCd,jdbcType=VARCHAR},
      </if>
    </set>
    where SYS_DT = #{sysDt,jdbcType=VARCHAR}
      and SYS_SEQ = #{sysSeq,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="java.util.Map">
    update TBL_DF
    set TXN_CD = #{txnCd,jdbcType=VARCHAR},
      TXN_DESC = #{txnDesc,jdbcType=VARCHAR},
      TXN_TP = #{txnTp,jdbcType=VARCHAR},
      TXN_ST = #{txnSt,jdbcType=VARCHAR},
      ERR_CD = #{errCd,jdbcType=VARCHAR},
      ERR_MSG = #{errMsg,jdbcType=VARCHAR},
      REV_FLG = #{revFlg,jdbcType=VARCHAR},
      REV_SEQ = #{revSeq,jdbcType=VARCHAR},
      CAN_FLG = #{canFlg,jdbcType=VARCHAR},
      CAN_SEQ = #{canSeq,jdbcType=VARCHAR},
      RFD_FLG = #{rfdFlg,jdbcType=VARCHAR},
      CUPS_STLM_DT = #{cupsStlmDt,jdbcType=VARCHAR},
      HD_BUF = #{hdBuf,jdbcType=VARCHAR},
      MSG_TP = #{msgTp,jdbcType=VARCHAR},
      PAN = #{pan,jdbcType=VARCHAR},
      CD_SEQ_NO = #{cdSeqNo,jdbcType=VARCHAR},
      PRC_CD = #{prcCd,jdbcType=VARCHAR},
      AMT_TXN = #{amtTxn,jdbcType=VARCHAR},
      AMT_STLM = #{amtStlm,jdbcType=VARCHAR},
      AMT_CDHLD = #{amtCdhld,jdbcType=VARCHAR},
      TXN_DT_TM = #{txnDtTm,jdbcType=VARCHAR},
      RAT_STLM = #{ratStlm,jdbcType=VARCHAR},
      RAT_CDHLD = #{ratCdhld,jdbcType=VARCHAR},
      CUP_SSN = #{cupSsn,jdbcType=VARCHAR},
      LCL_TM = #{lclTm,jdbcType=VARCHAR},
      LCL_DT = #{lclDt,jdbcType=VARCHAR},
      EXPR_DT = #{exprDt,jdbcType=VARCHAR},
      CONV_DT = #{convDt,jdbcType=VARCHAR},
      STLM_DT = #{stlmDt,jdbcType=VARCHAR},
      MCHT_TP = #{mchtTp,jdbcType=VARCHAR},
      ACQ_INS_CD = #{acqInsCd,jdbcType=VARCHAR},
      FWD_INS_CD = #{fwdInsCd,jdbcType=VARCHAR},
      RETL_REF = #{retlRef,jdbcType=VARCHAR},
      AUTH_RSP_CD = #{authRspCd,jdbcType=VARCHAR},
      CUPS_RSP_CD = #{cupsRspCd,jdbcType=VARCHAR},
      ACQ_TERM_ID = #{acqTermId,jdbcType=VARCHAR},
      ACQ_ID = #{acqId,jdbcType=VARCHAR},
      ACQ_NM = #{acqNm,jdbcType=VARCHAR},
      ADD_DATA = #{addData,jdbcType=VARCHAR},
      CUR_TXN = #{curTxn,jdbcType=VARCHAR},
      CUR_STLM = #{curStlm,jdbcType=VARCHAR},
      CUR_CDHLD = #{curCdhld,jdbcType=VARCHAR},
      ADD_AMT = #{addAmt,jdbcType=VARCHAR},
      FLD_RCS = #{fldRcs,jdbcType=VARCHAR},
      CDHLD_INF = #{cdhldInf,jdbcType=VARCHAR},
      ORG_SYS_DT = #{orgSysDt,jdbcType=VARCHAR},
      ORG_SYS_SEQ = #{orgSysSeq,jdbcType=VARCHAR},
      ORG_DATA_ELE = #{orgDataEle,jdbcType=VARCHAR},
      RCV_INS_CD = #{rcvInsCd,jdbcType=VARCHAR},
      ACCT_ID1 = #{acctId1,jdbcType=VARCHAR},
      ACCT_ID2 = #{acctId2,jdbcType=VARCHAR},
      IC_DATA = #{ICCData,jdbcType=VARCHAR},
      HOST_SSN = #{hostSsn,jdbcType=VARCHAR},
      HOST_DT = #{hostDt,jdbcType=VARCHAR},
      HOST_TP = #{hostTp,jdbcType=VARCHAR},
      HOST_ERR_CD = #{hostErrCd,jdbcType=VARCHAR},
      HOST_ERR_MSSG = #{hostErrMssg,jdbcType=VARCHAR},
      CRT_OPR = #{crtOpr,jdbcType=VARCHAR},
      CRT_DT = #{crtDt,jdbcType=VARCHAR},
      UPD_OPR = #{updOpr,jdbcType=VARCHAR},
      UPD_DT = #{updDt,jdbcType=VARCHAR},
      MISC = #{misc,jdbcType=VARCHAR},
       COND_CD = #{condCd,jdbcType=VARCHAR}
    where SYS_DT = #{sysDt,jdbcType=VARCHAR}
      and SYS_SEQ = #{sysSeq,jdbcType=VARCHAR}
  </update>
</mapper>